page-home {
    body{
        overflow : hidden;
    }

    .toolbar-title{
    display : none;
    }

  ion-card {
    position: relative;
    text-align: center;
  
  }

  ion-badge{
      background-color : white !important;
      color : #263649 !important;
      border : solid 1px #263649;
      font-size : 1.2em;
      min-width : auto !important;
      margin-right : 1em;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 0.7em;
    position: absolute;
    top: 80%;
    width: 100%;
    color: #fff;
  }
  .col{
      padding : 0;
  }

}
